@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input [type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}
/* general  */
body {
  font-family: "Roboto", sans-serif;
}

.page {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

/* header */
#header {
  height: 50px;
  background-color: rgb(247, 148, 56);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .title {
  margin: 0;
  color: #ffffff;
  padding: 0 1rem;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  padding: 0 1rem;
  background-color: #e2651c;
  color: white;
  font-size: 1.1rem;
}
#header .auth-options button:hover {
  background-color: #ee8208;
}

/* form */
.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}

.form input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #bce;
  font-size: 1.1rem;
}

button {
  padding: 0.3rem 0.5rem;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: green;
  color: white;
  font-size: 1.1rem;
  /* margin-top:2rem;
  margin-bottom: 1rem; */
}
.error-notice {
  padding:0.5rem;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin:1rem 0;
  border:1px solid #e07c7c;
  border-radius:8px;
  background-color:#f8d6d6;

}

.message-notice {
  padding:0.5rem;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin:1rem 0;
  border:1px solid green;
  border-radius:8px;
  background-color:lightgreen;

}
.error-notice button{
  background-color: #df4343;
  width:20px;
  height:20px;
  border-radius:50%;
  color:white;

}

h2 .welcome{
  color:teal;
}

th{
  color:teal;
  padding:20px;
  margin:10px;
}




/* media queries */

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    font-size: 0 0.5rem;
    font-size: 0.9rem;
  }
}
